*{
    margin: 0;
    padding: 0;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 11%;
    background-color: hsl(0, 0%, 95%);
}

.sedan{
    background-color: hsl(31, 77%, 52%);
    padding: 70px;
    border-top-left-radius: 5px;
    border-bottom-left-radius:5px ;
}

.suv{
    background-color: hsl(184, 100%, 22%);
    padding: 70px;
}

.luxury{
    background-color: hsl(179, 100%, 13%);
    padding: 70px;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
}

img{
    margin-bottom: 50px;
}

h1{
    font-family: 'Lexend Deca';
    font-weight: 400;
    color: hsl(0, 0%, 95%);
    margin-bottom: 30px;
}

p{
    color: hsl(0, 0%, 95%);
    margin-bottom: 90px;
}

.sedan button{
    background-color: hsl(0, 0%, 95%);
    color: hsl(31, 77%, 52%);
}

.suv button{
    background-color: hsl(0, 0%, 95%);
    color: hsl(184, 100%, 22%);
}

.luxury button{
    background-color: hsl(0, 0%, 95%);
    color: hsl(179, 100%, 13%);
}

button{
    padding: 15px 30px;
    border: 1px solid hsl(0, 0%, 95%);
    border-radius: 50px;
    cursor: pointer;
}

button:hover{
    background-color: transparent;
    color:hsl(0, 0%, 95%);
}